body {
  height: fit-content !important;
}

#pokedex {
  margin-top: 50px;

  .ui.search > .results {
    max-height: 200px;
    overflow-y: auto;
  }
}

#top-menu {

  #menu-header {
    font-weight: bold;
  }

  .item {
    height: 50px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

}

#footer {
  border-top: darkgray 1px solid;
}
