@import "variables";

body {
    height: fit-content !important;
    background-color: whitesmoke !important;
}

.normal {
    background-color: $normal !important;
}

.fire {
    background-color: $fire !important;
}

.water {
    background-color: $water !important;
}

.electric {
    background-color: $electric !important;
}

.grass {
    background-color: $grass !important;
}

.ice {
    background-color: $ice !important;
}

.fighting {
    background-color: $fighting !important;
}

.poison {
    background-color: $poison !important;
}

.ground {
    background-color: $ground !important;
}

.flying {
    background-color: $flying !important;
}

.psychic {
    background-color: $psychic !important;
}

.bug {
    background-color: $bug !important;
}

.rock {
    background-color: $rock !important;
}

.ghost {
    background-color: $ghost !important;
}

.dragon {
    background-color: $dragon !important;
}

.dark {
    background-color: $dark !important;
}

.steel {
    background-color: $steel !important;
}

.fairy {
    background-color: $fairy !important;
}

.normal-border {
    border: 1px solid $normal !important;
}

.fire-border {
    border: 1px solid $fire !important;
}

.water-border {
    border: 1px solid $water !important;
}

.electric-border {
    border: 1px solid $electric !important;
}

.grass-border {
    border: 1px solid $grass !important;
}

.ice-border {
    border: 1px solid $ice !important;
}

.fighting-border {
    border: 1px solid $fighting !important;
}

.poison-border {
    border: 1px solid $poison !important;
}

.ground-border {
    border: 1px solid $ground !important;
}

.flying-border {
    border: 1px solid $flying !important;
}

.psychic-border {
    border: 1px solid $psychic !important;
}

.bug-border {
    border: 1px solid $bug !important;
}

.rock-border {
    border: 1px solid $rock !important;
}

.ghost-border {
    border: 1px solid $ghost !important;
}

.dragon-border {
    border: 1px solid $dragon !important;
}

.dark-border {
    border: 1px solid $dark !important;
}

.steel-border {
    border: 1px solid $steel !important;
}

.fairy-border {
    border: 1px solid $fairy !important;
}

#pokedex {
    margin-top: 50px;
    margin-bottom: 50px;

    .ui.search > .results {
        max-height: 200px;
        overflow-y: auto;
    }

    .card {
        text-align: center;
        background-color: white;
        box-shadow: 2px 2px lightgrey;
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 15px;

        .sprite-div {
            position: relative;

            i {
                position: absolute;
                top: 0px;
                right: calc(50% - 75px);
                color: rgb(102, 102, 102);
                cursor: pointer;
            }
        }

        .card-header {
            margin-top: 0;
            margin-bottom: 10px;
            color: rgb(102, 102, 102);
        }

        .type-button {
            cursor: unset;
            width: 90px;
            color: white;
        }

        .ability-button {
            background-color: inherit;
            font-size: 12px;
            position: relative;

            i {
                position: absolute;
                top: 5px;
                right: 3px;
                margin: 0;
            }
        }
    }

    .bar-chart {
        font-weight: bold;
    }

    #evolutions-row {
        border-radius: 32px;
        margin: 1%;

        .evolution-header {
            font-weight: bold;
            color: rgb(102, 102, 102);

            >span {
                font-weight: initial;
            }
        }

        .type-button {
            color: white;
            width: 49px;
            cursor: unset;
            font-size: 8px;
            padding: 3px 0;
        }

        .evo-arrow {
            position: relative;
            bottom: 70px;
        }

        .evo-item {
            cursor: pointer;
        }

        #evo-grid {
            margin-bottom: 0.5rem;

            .row {
                padding: 0;
            }
        }

        .evo-label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1em;
            border-radius: 30px 30px 0 0;
            padding-left: 20px;
            color: white;

            span {
                display: inherit;
                align-items: center;

                label {
                    margin-right: 10px;
                }
            }
        }

        .no-evo-header {
            padding: 1em 0;
            color: #666666;
        }

        .ui.toggle.checkbox input:focus:checked~.box:before,
        .ui.toggle.checkbox input:focus:checked~label:before {
            background-color: lightgrey !important
        }

        //.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
        //    background-color: whitesmoke;
        //}

        @media (max-width: 500px) {
            .evo-item {
                width: 50px;
            }
            .type-button {
                width: 24px;
                font-size: 4px;
            }
            .evolution-header {
                font-size: 2vw;
            }
            #evo-grid {
                margin-top: 3rem !important;
            }
            span::before {
                content: '';
                clear: right;
                display: block;
            }
        }
    }
}

#top-menu {
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    z-index: 5;

    .logo {
        width: 20px;
        margin-right: 5px;
    }

    #menu-header {
        font-weight: bold;
    }

    .item {
        height: 50px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    a {
        color: black;
    }
}

#footer {
    border-top: 3px solid rgba(34, 36, 38, 0.15);
    width: 85%;
    text-align: center;
    margin: 0 auto;
    padding: 25px 0;
    color: #666;

    h5 {
        margin: 0;
    }

    a {
        color: inherit;
    }
}

#list-container {
    margin: 50px 0;

    input {
        border-radius: 500rem;
    }

    .ui.cards {
        margin-top: 50px;
    }

    .card {
        //position: relative;
        //@media only screen and (max-width: 767px) {
        //    width: calc( 50% - 2em );
        //}
        //@media only screen and (min-width: 768px) and (max-width: 991px) {
        //    width: calc( 33.33333333%  -  2em );
        //}
        //width: calc(16.66666667% - 1.5em);

        >.content {
            //position: absolute;
            //top: 0;
            //right: 0;
            //bottom: 0;
            //left: 0;

            .card-header {
                font-weight: bold;
                color: #f5f5f5;
                white-space: nowrap;
            }
            span {
                margin-left: 3px;
                font-weight: initial;
            }
            .type-button {
                color: #f5f5f5;
                background-color: rgba(0,0,0,0);
                width: 49px;
                cursor: unset;
                font-size: 9px;
                padding: 3px 0;
            }
        }
    }
    //.card:before {
    //    content: '';
    //    display: block;
    //    padding-top: 100%;
    //}

    #no-results-header {
        margin-top: 0;
        color: rgb(102, 102, 102);
    }
}

#list-loader {
    margin: 50px 0;
}

#card-loader {
    margin-top: 50px;
}

#see-more {
    margin-top: 25px;
}

#home {
    margin: 50px 0;

    .ui.search {
        width: fit-content;
        margin: 0 auto;

        >.results {
            width: 100%;
            max-height: 200px;
            overflow-y: auto;
        }
    }
}

#error-page {
    margin: 50px 0;
    text-align: center;

    h1 {
        font-size: 96px;
        margin-bottom: -12px;
    }

    span {
        font-size: 24px;
    }
}
