body {
  height: fit-content !important;
  background-color: whitesmoke !important;
}

.normal {
  background-color: #A8A77A !important;
}

.fire {
  background-color: #EE8130 !important;
}

.water {
  background-color: #6390F0 !important;
}

.electric {
  background-color: #F7D02C !important;
}

.grass {
  background-color: #7AC74C !important;
}

.ice {
  background-color: #96D9D6 !important;
}

.fighting {
  background-color: #C22E28 !important;
}

.poison {
  background-color: #A33EA1 !important;
}

.ground {
  background-color: #E2BF65 !important;
}

.flying {
  background-color: #A98FF3 !important;
}

.psychic {
  background-color: #F95587 !important;
}

.bug {
  background-color: #A6B91A !important;
}

.rock {
  background-color: #B6A136 !important;
}

.ghost {
  background-color: #735797 !important;
}

.dragon {
  background-color: #6F35FC !important;
}

.dark {
  background-color: #705746 !important;
}

.steel {
  background-color: #B7B7CE !important;
}

.fairy {
  background-color: #D685AD !important;
}

.normal-border {
  border: 1px solid #A8A77A !important;
}

.fire-border {
  border: 1px solid #EE8130 !important;
}

.water-border {
  border: 1px solid #6390F0 !important;
}

.electric-border {
  border: 1px solid #F7D02C !important;
}

.grass-border {
  border: 1px solid #7AC74C !important;
}

.ice-border {
  border: 1px solid #96D9D6 !important;
}

.fighting-border {
  border: 1px solid #C22E28 !important;
}

.poison-border {
  border: 1px solid #A33EA1 !important;
}

.ground-border {
  border: 1px solid #E2BF65 !important;
}

.flying-border {
  border: 1px solid #A98FF3 !important;
}

.psychic-border {
  border: 1px solid #F95587 !important;
}

.bug-border {
  border: 1px solid #A6B91A !important;
}

.rock-border {
  border: 1px solid #B6A136 !important;
}

.ghost-border {
  border: 1px solid #735797 !important;
}

.dragon-border {
  border: 1px solid #6F35FC !important;
}

.dark-border {
  border: 1px solid #705746 !important;
}

.steel-border {
  border: 1px solid #B7B7CE !important;
}

.fairy-border {
  border: 1px solid #D685AD !important;
}

#pokedex {
  margin-top: 50px;
  margin-bottom: 50px;
}
#pokedex .ui.search > .results {
  max-height: 200px;
  overflow-y: auto;
}
#pokedex .card {
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px lightgrey;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
}
#pokedex .card .card-header {
  margin-top: 0;
  margin-bottom: 10px;
  color: #666666;
}
#pokedex .card .type-button {
  cursor: unset;
  width: 90px;
  color: white;
}
#pokedex .card .ability-button {
  background-color: inherit;
  font-size: 12px;
  position: relative;
}
#pokedex .card .ability-button i {
  position: absolute;
  top: 5px;
  right: 3px;
  margin: 0;
}
#pokedex .card img {
  cursor: pointer;
}
#pokedex .bar-chart {
  font-weight: bold;
}
#pokedex #evolutions-row {
  border-radius: 32px;
  margin: 1%;
}
#pokedex #evolutions-row .evolution-header {
  font-weight: bold;
  color: #666666;
}
#pokedex #evolutions-row .evolution-header > span {
  font-weight: initial;
}
#pokedex #evolutions-row .type-button {
  color: white;
  width: 49px;
  cursor: unset;
  font-size: 8px;
  padding: 3px 0;
}
#pokedex #evolutions-row .evo-arrow {
  position: relative;
  bottom: 70px;
}
#pokedex #evolutions-row .evo-item {
  cursor: pointer;
}
#pokedex #evolutions-row #evo-grid {
  margin-bottom: 0.5rem;
}
#pokedex #evolutions-row #evo-grid .row {
  padding: 0;
}
#pokedex #evolutions-row .evo-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  border-radius: 30px 30px 0 0;
  padding-left: 20px;
  color: white;
}
#pokedex #evolutions-row .evo-label span {
  display: inherit;
  align-items: center;
}
#pokedex #evolutions-row .evo-label span label {
  margin-right: 10px;
}
#pokedex #evolutions-row .no-evo-header {
  padding: 1em 0;
}
#pokedex #evolutions-row .ui.toggle.checkbox input:focus:checked ~ .box:before,
#pokedex #evolutions-row .ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color: lightgrey !important;
}
@media (max-width: 450px) {
  #pokedex #evolutions-row .evo-item {
    width: 50px;
  }
}

#top-menu {
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  z-index: 5;
}
#top-menu .logo {
  width: 20px;
  margin-right: 5px;
}
#top-menu #menu-header {
  font-weight: bold;
}
#top-menu .item {
  height: 50px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#top-menu a {
  color: black;
}

#footer {
  border-top: darkgray 1px solid;
}

#list-container {
  margin: 50px 0;
}
#list-container input {
  border-radius: 500rem;
}
#list-container .ui.cards {
  margin-top: 50px;
}
#list-container .card > .content .card-header {
  font-weight: bold;
  color: #f5f5f5;
  white-space: nowrap;
}
#list-container .card > .content span {
  margin-left: 3px;
  font-weight: initial;
}
#list-container .card > .content .type-button {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0);
  width: 49px;
  cursor: unset;
  font-size: 9px;
  padding: 3px 0;
}
#list-container #no-results-header {
  margin-top: 0;
  color: #666666;
}

#list-loader {
  margin: 50px 0;
}

#card-loader {
  margin-top: 50px;
}

#see-more {
  margin-top: 25px;
}

/*# sourceMappingURL=style.css.map */
